body {
	margin: 0;
}

.container{
	width: : 250px;
	height: 490px;
	padding: 1px 0px 1px 1px;
	margin: 20px 570px;
	text-align: center;
	background-color: white;
	border-radius: 8px;
	border-width:100;
	border: 1px solid;
	border-color: #e8ebef;
	margin-top: 10%;
}
{
	margin-left: 20px;
}
#img1{
	padding: 1px 750px 1px 1px;
	width: 250px;
	height: 115px;
	margin-top: 1px;
	/*margin-bottom: 45px;*/
}
img + div{
	margin-left: 20px;
}
#username{
	height: 35px;
	width: 363px;
	font-family: calibri;
	font-size: 14px;
	margin-bottom: 20px;
	background-color: white;
	padding-left: 20px;
}
#firstname{
	height: 35px;
	width: 175px;
	font-family: calibri;
	font-size: 14px;
	margin-bottom: 20px;
	margin-left: 10px;
	background-color: white;
	padding-left: 20px;
}
#lastname{
	height: 35px;
	width: 175px;
	font-family: calibri;
	font-size: 14px;
	margin-bottom: 20px;
	background-color: white;
	padding-left: 20px;
}

input[type="password"]{
	height: 35px;
	width: 155px;
	font-family: calibri;
	font-size: 14px;
	margin-bottom: 20px;
	background-color: white;
	padding-left: 20px;
}
input + input{
	margin-left: 10px;
}

input[type="submit"]{
	font-family: calibri;
	font-size: 20px;
}
.container > .a1 ,.a2{
	text-align: left;
	font-family:tahoma;
	text-decoration:none;
}

/*form-input:before{
	background: url(logo1.png);
}*/
.a1{
	font-family: calibri;
}
.btn-login{
	padding: 8px 25px;
	font-size: 17px;
	display: inline-block;
	color: white;
	background-color: #0066ff;
	border: none;
	border-radius: 4px;
}
a+input{
	font-family: calibri;
	margin-left: 120px;
}
a+a{

	margin-left: 225px;
}

td{
	font-family: calibri;
	margin-left: 10px;
	font-size: 15px;
}
.form-input{
	text-align: left;
}